<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77137613714-363luvdqnh0a8rqkv73mpd93m0gdn3g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77137613714-363luvdqnh0a8rqkv73mpd93m0gdn3g6</string>
	<key>API_KEY</key>
	<string>AIzaSyBg4D3_uGKTa3qmabXyXoUUpuEnir2P3hU</string>
	<key>GCM_SENDER_ID</key>
	<string>77137613714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutomato.tutorialFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jongwan-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>jongwan-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77137613714:ios:897b440e5f1c817465274b</string>
</dict>
</plist>